
body{
  background-color: rgb(0, 0, 0);
  color: white;
}

.carousel-caption{
  backdrop-filter: blur(10px);
  color: black;
}
.Nside{
  background-image: url(./component/img/Nside1.jpg);
}
.Ntext{
  backdrop-filter: brightness(0.3)
}
